.page-container {
  background-image: url("src/assets/squiggle.png");
  background-repeat: repeat;
  background-size: 200px;
  height: 100%;
  bottom: 0px;
  /* top: 500px; */
  /* opacity: 0.5; */
}
.form-container {
  z-index: 1;
}
.button-container {
  display: flex;
  justify-content: center;
}
.header-container {
  display: flex;
  justify-content: center;
  margin: 25px 0px 25px 0px;
}

.label {
  margin: 10px 0 10px 0;
}
.input {
  margin: 10px 0 10px 0;
}
