.navbar {
  margin: 5px 15px;
  padding: 20px 20px 6px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #fb8500;
}

.header {
  padding-bottom: 5px;
  width: 50%;
}
.collapse {
  margin: 0;
  padding: 0;
  width: 100%;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .nav-item {
    font-size: 1.5rem;
  }
}
