<div class="about-div">
  <div class="about-header">
    <h3 class="header">About:</h3>
  </div>
  <div class="about-content">
    <p class="p">
      Its a web app for those who want to find, post, and get details on diy
      shows or big venue concerts. It’s geared towards those who want to be more
      up to date with intimate house shows that are in their area, and promote
      the local music they love.
    </p>
    <p class="p">
      You can post your diy show You can browse local diy shows (and local
      public shows) And you can get the deets for these gigs! And if you’re
      hosting a show, you can determine who gets access to your show’s info, so
      your address isn’t out there for the world to see! You can also, ask for
      help.
    </p>
  </div>

  <div class="developers-container">
    <h3 class="header">Meet the Developers:</h3>
    <div class="developers">
      <div class="dev-card">
        <img
          src="assets/SpencerBrownHeadshot.jpg"
          alt="Spencer Brown Headshot"
          class="headshot"
        />
        <a
          href="https://sabcompositions.wixsite.com/portfolio"
          class="link dev-name"
          >Spencer</a
        >
        <a
          href="https://www.linkedin.com/in/spenceralbrown/"
          class="link dev-link"
          >GitHub</a
        >
        <a
          href="https://www.linkedin.com/in/spenceralbrown/"
          class="link dev-link"
          >LinkedIn</a
        >
      </div>
      <div class="dev-card">
        <img
          src="assets/LameesIbrahimHeadshot.png"
          alt="Lamees Ibrihim Headshot"
          class="headshot"
        />
        <a href="https://lamees.pb.design/" class="link dev-name">Lamees</a>
        <a href="https://github.com/lmibrahim" class="link dev-link">GitHub</a>
        <a href="https://github.com/Spenn0" class="link dev-link">LinkedIn</a>
      </div>
      <div class="dev-card">
        <img
          src="assets/TaylerOndersmaHeadshot.jpg"
          alt="Tayler Ondersma Headshot"
          class="headshot"
        />
        <a href="http://tayler-portfolio.surge.sh/" class="link dev-name"
          >Tayler</a
        >
        <a href="https://github.com/Tayler-On" class="link dev-link">GitHub</a>
        <a
          href="https://www.linkedin.com/in/tayler-ondersma/"
          class="link dev-link"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</div>
