.page-div {
  height: 100vh;
  bottom: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.map-div {
  margin-top: 700px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* .map {
  height: 450px;
  width: 300px;
} */

.info-div {
  /* margin: 15px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.req-info {
  margin: 20px;
}
.header {
  color: #219ebc;
  font-weight: bold;
  border-bottom: 1px solid #fb8500;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.show-title {
  margin-bottom: 5px;
}

.start-time,
.info {
  color: #ffb703;
}

.map-div-desktop {
  display: none;
}

.post-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0px 40px;
}

@media only screen and (min-width: 768px) {
  .page-div {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    height: 75vh;
  }

  .map-div {
    display: none;
  }

  .map-div-desktop {
    flex: 1;
    display: initial;
    padding-left: 80px;
  }

  .info-div {
    flex: 1;
    width: 500px;
    text-align: center;
  }

  .header {
    font-size: 3.5rem;
  }

  .show-title {
    font-size: 1.5rem;
  }

  .start-time {
    font-size: 1.2rem;
  }
}
