<div class="page-div">
  <div class="map-div" *ngIf="show?.display || show?.brand_safe">
    <google-map class="map" [center]="center" [height]="450" [width]="370">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
  </div>
  <!-- 
  DESKTOP MAP -->
  <div class="map-div-desktop" *ngIf="show?.display || show?.brand_safe">
    <google-map class="map" [center]="center" [height]="555" [width]="700">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
  </div>

  <div class="info-div">
    <h3 class="header">Deets</h3>
    <h4 class="show-title">{{ show?.title }}</h4>
    <p class="start-time">{{ show?.start | date: "short" }}</p>
    <p class="info">{{ show?.description }}</p>

    <button
      class="req-info button"
      (click)="showDetails(show.id)"
      *ngIf="!show?.display && !show?.brand_safe"
    >
      Request Info
    </button>
    <!-- <p class="show-address">{{ show?.address }}</p> -->
  </div>
  <div>
    <app-post-form></app-post-form>
  </div>
  <ul class="post-container">
    <app-posts *ngFor="let post of posts" [postRef]="post"></app-posts>
  </ul>
</div>
