<div class="page-div">
  <div class="map-div" *ngIf="show?.display || show?.brand_safe">
    <google-map class="map" [center]="center" [height]="450" [width]="350">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
  </div>
  <!-- 
  DESKTOP MAP -->
  <div class="map-div-desktop" *ngIf="show?.display || show?.brand_safe">
    <google-map class="map" [center]="center" [height]="555" [width]="700">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
    </google-map>
  </div>

  <div class="house-art" *ngIf="!show?.display && !show?.brand_safe">
    <img src="/../assets/GTTG-DEETS.png" alt="" />
  </div>
  <div class="house-art2" *ngIf="!show?.display && !show?.brand_safe">
    <img src="/../assets/FINAL-DESKTOP.png" alt="" />
  </div>

  <div class="info-div">
    <div class="details">
      <h3 class="header">Deets</h3>
      <h4 class="show-title">{{ show?.title }}</h4>
      <p class="start-time">{{ show?.start | date: "short" }}</p>
      <p class="info">{{ show?.description }}</p>

      <button
        class="req-info button"
        (click)="showDetails(show.id)"
        *ngIf="!show?.display && !show?.brand_safe"
      >
        Request Info
      </button>

      <div>
        <app-post-form
          *ngIf="show?.display && !show?.brand_safe"
        ></app-post-form>
      </div>
    </div>
  </div>
</div>

<div class="post-holder">
  <div class="post-holder2"></div>
  <div class="post-holder3">
    <ul class="post-container" *ngIf="show?.display && !show?.brand_safe">
      <app-posts *ngFor="let post of posts" [postRef]="post"></app-posts>
    </ul>
  </div>
</div>
