.page-div {
  height: 80vh;
  bottom: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.map-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.info-div {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.req-info {
  margin: 20px;
}
.header {
  color: #219ebc;
  font-weight: bold;
  border-bottom: 1px solid #fb8500;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.show-title {
  margin-bottom: 5px;
}

.start-time,
.info {
  color: #ffb703;
}
