/* You can add global styles to this file, and also import other style files */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.label {
  margin: 5px;
  width: 100%;
}
.input {
  margin: 5px;
  width: 100%;
}
.button {
  margin: 10px;
  width: 100%;
}
