<app-form class="search" (titleEvent)="setSearch($event)"></app-form>

<div class="newShowButton">
  <button class="button" routerLink="/new-show">Add New Show</button>
</div>
<div class="parallax1 parallax2"></div>

<!-- updatedResults method from home component, allGigResultsRef is one of the shows bc of the binding [] =""
 -->
<div class="shows">
  <ul>
    <app-show
      class="theshows"
      *ngFor="let show of updatedResults()"
      [allGigResultsRef]="show"
    ></app-show>
  </ul>
</div>
